
### **THEORY**

**Q1. What are data structures, and why are they important?**

- Data structures are organized ways to store, manage, and retrieve data. They are important because they make our programs efficient and help handle large amounts of data quickly—for example, lists, dictionaries, and sets.



**Q2. Explain the difference between mutable and immutable data types with examples.**

- **Mutable**: Can be changed after creation (e.g., list).

- python
  a = [1, 2, 3]
  a[0] = 10  # Changes the list
  
- **Immutable**: Cannot be changed after creation (e.g., tuple, string).

- python
  b = "hello"
  b[0] = "H"  # Error, strings are immutable

**Q3. What are the main differences between lists and tuples in Python?**

- **List**: Mutable, uses [], slower, allows changes.
- **Tuple**: Immutable, uses (), faster, safer for fixed data.

**Q4. Describe how dictionaries store data.**

- Dictionaries store data as key-value pairs inside {}. Each key is unique and maps to a value.

- python
student = {"name": "Ali", "age": 20}

**Q5. Why might you use a set instead of a list in Python?**

- Sets automatically remove duplicates and are faster for membership checks.

python
set1 = {1, 2, 2, 3}  # becomes {1, 2, 3}


**Q6. What is a string in Python, and how is it different from a list?**


- A **string** is a sequence of characters (immutable).
- A **list** is a collection of any type of elements (mutable).

- python
s = "hello"
l = ['h', 'e', 'l', 'l', 'o']


**Q7. How do tuples ensure data integrity in Python?**

- Tuples can't be changed after creation. This makes sure data stays constant and safe.

**Q8. What is a hash table, and how does it relate to dictionaries in Python?**

- A hash table stores data using a key and its hash value. Python dictionaries are built using hash tables to quickly find keys.


**Q9. Can lists contain different data types in Python?**
- Yes! Python lists can store integers, strings, other lists, etc.

- python
  mixed = [1, "two", 3.0, [4, 5]]

**Q10. Explain why strings are immutable in Python.**

Strings are immutable for memory safety and performance. Changing one would mean creating a new one, which avoids unexpected bugs.

**Q11. What advantages do dictionaries offer over lists for certain tasks?**

- Dictionaries are faster for lookup using keys. Lists need to search item by item, which is slower.


**Q12. Describe a scenario where using a tuple would be preferable over a list.**

- When I want to store data that shouldn't change—like coordinates (x, y)—I use a tuple to avoid accidental edits.

**Q13. How do sets handle duplicate values in Python?**

- Sets don’t allow duplicates. If we add the same value again, it gets ignored.

- python
s = {1, 2, 2}  # becomes {1, 2}


**Q14. How does the “in” keyword work differently for lists and dictionaries?**

- In **lists**, in checks if an item exists in the list.
- In **dictionaries**, it checks if the **key** exists, not the value.

**Q15. Can you modify the elements of a tuple? Explain why or why not.**

- Tuples are immutable. You can't change, add, or remove elements once created.


**Q16. What is a nested dictionary, and give an example of its use case.**

- A nested dictionary means a dictionary inside another. It helps in storing complex data.

- python
students = {
  "John": {"age": 20, "city": "NY"},
  "Alice": {"age": 22, "city": "LA"}
}


**Q17. Describe the time complexity of accessing elements in a dictionary.**

- Accessing a value using a key is O(1) time complexity—super fast because of hash tables.

**Q18. In what situations are lists preferred over dictionaries?**

- Lists are better when we care about order, need to loop through items, or when we don't need key-value pairing.


**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

- Older Python versions (<3.7) stored dictionary keys in random order. This made looping unpredictable. Newer versions maintain insertion order, but keys still aren't accessed by position like lists.


**Q20. Explain the difference between a list and a dictionary in terms of data retrieval.**

-  **List**: Access by index (e.g., a[0])
-  **Dictionary**: Access by key (e.g., d["name"])
  Dictionaries are faster for lookups when key-based.

In [2]:
#1. Write a code to create a string with your name and print it.
a = "deepak"
print(a)

deepak

In [3]:
#2. write a code to find the length of the string "Hello World".
string = "Hello World"
length = len(string)
print(length)

11

In [7]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[:3])

Pyt

In [8]:
#4. Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [11]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
print(a.replace("apple", "orange"))

I like orange

In [13]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [20]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list_a = [1, 2, 3, 4]
list_a.append(10)
print(list_a)

[1, 2, 3, 4, 10]

In [21]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list_a = [1, 2, 3, 4, 5]
list_a.remove(3)
print(list_a)

[1, 2, 4, 5]

In [22]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list_a = ['a', 'b', 'c', 'd']
print(list_a[1])

b

In [23]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list_a = [10, 20, 30, 40, 50]
print(list_a[::-1])

[50, 40, 30, 20, 10]

In [24]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print.
tuple_a = (100, 200, 300)
print(tuple_a)

(100, 200, 300)

In [25]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple_a = ('red', 'green', 'blue', 'yellow')
print(tuple_a[-2])

blue

In [27]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10, 20, 5, 15)
print(min(num))

5

In [28]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple_a = ('dog', 'cat', 'rabbit')
print(tuple_a.index('cat'))

1

In [30]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'kiwi', 'cherry')
print('kiwi' in fruits)

True

In [35]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = {'a', 'b', 'c'}
print(a)

{'c', 'b', 'a'}

In [36]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set_a = {1, 2, 3, 4, 5}
set_a.clear()
print(set_a)

set()

In [38]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [41]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [42]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [44]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a = {"name": "Deepak", "age": 22, "city": "Patna"}
print(a)

{'name': 'Deepak', 'age': 22, 'city': 'Patna'}

In [48]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a= {'name': 'John', 'age': 25}
a['country'] = 'USA'
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [49]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a = {'name': 'Alice', 'age': 30}
print(a['name'])

Alice

In [50]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a['age']
print(a)

{'name': 'Bob', 'city': 'New York'}

In [51]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a = {'name': 'Alice', 'city': 'Paris'}
print('city' in a)

True

In [52]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1, 2, 3, 4, 5]
print(list)

tuple = (1, 2, 3, 4, 5)
print(tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [57]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
list_a = random.sample(range(1, 101), 5)
list_a.sort()
print(list_a)

[17, 35, 69, 71, 94]

In [59]:
#28. Write a code to create a list with strings and print the element at the third index.
list_a = ["Krishna", "Karan", "Chirag", "Tarun", "Deepak"]
print(list_a[2])

Chirag

In [62]:
#29. Write a code to combine two dictionaries into one and print the result.
a = {"x": 1, "y": 2}
b = {"y": 3, "z": 4}
combined = {**a, **b}
print(combined)

{'x': 1, 'y': 3, 'z': 4}

In [63]:
#30. Write a code to convert a list of strings into a set.
list_a = ["apple", "banana", "apple", "cherry"]
a = set(list_a)
print(a)

{'apple', 'banana', 'cherry'}